<div class="gingerbread-man-container">
  <div class="gingerbread-man">
    <div class="head">
      <div class="eyebrow eyebrow--left"></div>
      <div class="eyebrow eyebrow--right"></div>
      <div class="eye eye--left"></div>
      <div class="eye eye--right"></div>
      <div class="mouth">
        <div class="mouth__lower-lip"></div>
        <div class="mouth__left-lip"></div>
        <div class="mouth__right-lip"></div>
        <div class="mouth__upper-lip"></div>
      </div>
    </div>
    <div class="body">
      <div class="arm arm--left"></div>
      <div class="arm arm--right"></div>
      <div class="leg leg--left"></div>
      <div class="leg leg--right"></div>
      <div class="belt"></div>
      <div class="button button--top"></div>
      <div class="button button--bottom"></div>
    </div>
  </div>
</div>
