<div class="christmas-tree-wrapper">
  <div class="christmas-tree-container">
    <div class="glow"></div>
    <div class="shadow"></div>
    <div class="christmas-tree">
      <div class="branches">
        <div
          class="branch"
          style="
            height: 119px;
            width: 10px;
            transform: translateZ(2px) rotate(6.325255998696151deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 118px;
            width: 10px;
            transform: translateZ(4px) rotate(176.20355056709766deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 117px;
            width: 10px;
            transform: translateZ(6px) rotate(109.6877367437578deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 116px;
            width: 10px;
            transform: translateZ(8px) rotate(263.98277924760146deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 115px;
            width: 10px;
            transform: translateZ(10px) rotate(245.80884131313596deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 114px;
            width: 10px;
            transform: translateZ(12px) rotate(125.90572930941963deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 113px;
            width: 10px;
            transform: translateZ(14px) rotate(273.21498333556076deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 112px;
            width: 10px;
            transform: translateZ(16px) rotate(60.67997228327881deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 111px;
            width: 10px;
            transform: translateZ(18px) rotate(340.94130894257046deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 110px;
            width: 10px;
            transform: translateZ(20px) rotate(358.31272470602437deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 109px;
            width: 10px;
            transform: translateZ(22px) rotate(264.74066046683686deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 108px;
            width: 10px;
            transform: translateZ(24px) rotate(218.5352326089175deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 107px;
            width: 10px;
            transform: translateZ(26px) rotate(135.05308784302568deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 106px;
            width: 10px;
            transform: translateZ(28px) rotate(278.23919757388694deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 105px;
            width: 10px;
            transform: translateZ(30px) rotate(156.38982595573793deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 104px;
            width: 10px;
            transform: translateZ(32px) rotate(296.3463072193019deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 103px;
            width: 10px;
            transform: translateZ(34px) rotate(156.70257911091676deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 102px;
            width: 10px;
            transform: translateZ(36px) rotate(14.595918663868028deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 101px;
            width: 10px;
            transform: translateZ(38px) rotate(8.869677026848212deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 100px;
            width: 10px;
            transform: translateZ(40px) rotate(174.9171097228975deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 99px;
            width: 10px;
            transform: translateZ(42px) rotate(5.729161818545805deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 98px;
            width: 10px;
            transform: translateZ(44px) rotate(170.20536938219462deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 97px;
            width: 10px;
            transform: translateZ(46px) rotate(218.68798948817837deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 96px;
            width: 10px;
            transform: translateZ(48px) rotate(261.49338982722264deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 95px;
            width: 10px;
            transform: translateZ(50px) rotate(224.3346363610241deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 94px;
            width: 10px;
            transform: translateZ(52px) rotate(207.45654077169283deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 93px;
            width: 10px;
            transform: translateZ(54px) rotate(333.19890971006606deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 92px;
            width: 10px;
            transform: translateZ(56px) rotate(186.56761360962392deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 91px;
            width: 10px;
            transform: translateZ(58px) rotate(106.33803711997693deg);
          "
        ></div>
        <div
          class="branch"
          style="height: 90px; width: 10px; transform: translateZ(60px) rotate(93.0126410876416deg)"
        ></div>
        <div
          class="branch"
          style="
            height: 89px;
            width: 10px;
            transform: translateZ(62px) rotate(232.57620441584996deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 88px;
            width: 10px;
            transform: translateZ(64px) rotate(0.6104872170300801deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 87px;
            width: 10px;
            transform: translateZ(66px) rotate(357.73114971318057deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 86px;
            width: 10px;
            transform: translateZ(68px) rotate(220.05523447210146deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 85px;
            width: 10px;
            transform: translateZ(70px) rotate(254.11804574245093deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 84px;
            width: 10px;
            transform: translateZ(72px) rotate(259.09608525934175deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 83px;
            width: 10px;
            transform: translateZ(74px) rotate(242.8150499370437deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 82px;
            width: 10px;
            transform: translateZ(76px) rotate(117.13001991060963deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 81px;
            width: 10px;
            transform: translateZ(78px) rotate(325.19773131817914deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 80px;
            width: 10px;
            transform: translateZ(80px) rotate(132.22442508381155deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 79px;
            width: 10px;
            transform: translateZ(82px) rotate(296.0139598974918deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 78px;
            width: 10px;
            transform: translateZ(84px) rotate(328.9066840131411deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 77px;
            width: 10px;
            transform: translateZ(86px) rotate(302.04468152695426deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 76px;
            width: 10px;
            transform: translateZ(88px) rotate(253.23424688827112deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 75px;
            width: 10px;
            transform: translateZ(90px) rotate(24.124031584111055deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 74px;
            width: 10px;
            transform: translateZ(92px) rotate(182.65533633036253deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 73px;
            width: 10px;
            transform: translateZ(94px) rotate(286.33448264669545deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 72px;
            width: 10px;
            transform: translateZ(96px) rotate(349.2152818988163deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 71px;
            width: 10px;
            transform: translateZ(98px) rotate(72.37302866156895deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 70px;
            width: 10px;
            transform: translateZ(100px) rotate(123.85544874487466deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 69px;
            width: 10px;
            transform: translateZ(102px) rotate(329.35602927601116deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 68px;
            width: 10px;
            transform: translateZ(104px) rotate(251.46534705377184deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 67px;
            width: 10px;
            transform: translateZ(106px) rotate(24.050467737122837deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 66px;
            width: 10px;
            transform: translateZ(108px) rotate(79.3626771598028deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 65px;
            width: 10px;
            transform: translateZ(110px) rotate(255.26139433976758deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 64px;
            width: 10px;
            transform: translateZ(112px) rotate(347.1350077061221deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 63px;
            width: 10px;
            transform: translateZ(114px) rotate(146.7914467318125deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 62px;
            width: 10px;
            transform: translateZ(116px) rotate(154.3262327849903deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 61px;
            width: 10px;
            transform: translateZ(118px) rotate(142.69476522296824deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 60px;
            width: 10px;
            transform: translateZ(120px) rotate(14.014799591050693deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 59px;
            width: 10px;
            transform: translateZ(122px) rotate(235.03304290481177deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 58px;
            width: 10px;
            transform: translateZ(124px) rotate(37.72843692049926deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 57px;
            width: 10px;
            transform: translateZ(126px) rotate(197.7994902730588deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 56px;
            width: 10px;
            transform: translateZ(128px) rotate(84.90239639515599deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 55px;
            width: 10px;
            transform: translateZ(130px) rotate(41.53312096133106deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 54px;
            width: 10px;
            transform: translateZ(132px) rotate(236.38020721487487deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 53px;
            width: 10px;
            transform: translateZ(134px) rotate(331.4911278320273deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 52px;
            width: 10px;
            transform: translateZ(136px) rotate(95.89659521491726deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 51px;
            width: 10px;
            transform: translateZ(138px) rotate(261.187183487095deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 50px;
            width: 10px;
            transform: translateZ(140px) rotate(122.04562650808563deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 49px;
            width: 10px;
            transform: translateZ(142px) rotate(23.99659005239699deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 48px;
            width: 10px;
            transform: translateZ(144px) rotate(181.3014486265227deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 47px;
            width: 10px;
            transform: translateZ(146px) rotate(125.78535837354742deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 46px;
            width: 10px;
            transform: translateZ(148px) rotate(290.24968824808997deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 45px;
            width: 10px;
            transform: translateZ(150px) rotate(284.2070196555121deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 44px;
            width: 10px;
            transform: translateZ(152px) rotate(58.18784688203332deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 43px;
            width: 10px;
            transform: translateZ(154px) rotate(321.8925443350913deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 42px;
            width: 10px;
            transform: translateZ(156px) rotate(304.51459024130486deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 41px;
            width: 10px;
            transform: translateZ(158px) rotate(344.709710296371deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 40px;
            width: 10px;
            transform: translateZ(160px) rotate(295.44067181934133deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 39px;
            width: 10px;
            transform: translateZ(162px) rotate(238.16634318368796deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 38px;
            width: 10px;
            transform: translateZ(164px) rotate(74.56807360493717deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 37px;
            width: 10px;
            transform: translateZ(166px) rotate(123.8665603890022deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 36px;
            width: 10px;
            transform: translateZ(168px) rotate(71.02818809786658deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 35px;
            width: 10px;
            transform: translateZ(170px) rotate(239.7812446675063deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 34px;
            width: 10px;
            transform: translateZ(172px) rotate(79.64975469545574deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 33px;
            width: 10px;
            transform: translateZ(174px) rotate(232.7454559968957deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 32px;
            width: 10px;
            transform: translateZ(176px) rotate(218.43639290588484deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 31px;
            width: 10px;
            transform: translateZ(178px) rotate(245.64417143155507deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 30px;
            width: 10px;
            transform: translateZ(180px) rotate(75.16581812008346deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 29px;
            width: 10px;
            transform: translateZ(182px) rotate(164.46956703005588deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 28px;
            width: 10px;
            transform: translateZ(184px) rotate(233.14649479310253deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 27px;
            width: 10px;
            transform: translateZ(186px) rotate(47.207808427550255deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 26px;
            width: 10px;
            transform: translateZ(188px) rotate(141.38404400456554deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 25px;
            width: 10px;
            transform: translateZ(190px) rotate(291.6428371967336deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 24px;
            width: 10px;
            transform: translateZ(192px) rotate(188.9323038362239deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 23px;
            width: 10px;
            transform: translateZ(194px) rotate(14.365657741195292deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 22px;
            width: 10px;
            transform: translateZ(196px) rotate(280.6693704495304deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 21px;
            width: 10px;
            transform: translateZ(198px) rotate(258.77522248729827deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 20px;
            width: 10px;
            transform: translateZ(200px) rotate(97.66040493619556deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 19px;
            width: 10px;
            transform: translateZ(202px) rotate(144.65339400733146deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 18px;
            width: 10px;
            transform: translateZ(204px) rotate(180.3707592016742deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 17px;
            width: 10px;
            transform: translateZ(206px) rotate(253.2312168716752deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 16px;
            width: 10px;
            transform: translateZ(208px) rotate(323.84607714466995deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 15px;
            width: 10px;
            transform: translateZ(210px) rotate(83.75279873323231deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 14px;
            width: 10px;
            transform: translateZ(212px) rotate(88.98528783306281deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 13px;
            width: 10px;
            transform: translateZ(214px) rotate(287.5982829781373deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 12px;
            width: 10px;
            transform: translateZ(216px) rotate(23.17580017295612deg);
          "
        ></div>
        <div
          class="branch"
          style="
            height: 11px;
            width: 10px;
            transform: translateZ(218px) rotate(243.7421247022631deg);
          "
        ></div>
      </div>
      <div class="ct-ornaments">
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(109.15837669750692deg) translateX(40.136419612115155px)
              translateZ(79.45432155153938px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(174.69624689112317deg) translateX(24.982314424606784px)
              translateZ(140.07074230157286px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(191.36583230303245deg) translateX(36.78869432258632px)
              translateZ(92.84522270965472px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(275.02365174573055deg) translateX(44.321953271798336px)
              translateZ(62.71218691280667px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(331.88824684866063deg) translateX(30.835290497721623px)
              translateZ(116.65883800911351px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(11.911085197733723deg) translateX(23.030155106032872px)
              translateZ(147.8793795758685px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(118.07128221821944deg) translateX(30.799210943283082px)
              translateZ(116.80315622686767px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(169.75841762836254deg) translateX(32.89586196731865px)
              translateZ(108.41655213072538px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(208.00581242106466deg) translateX(40.77288622390018px)
              translateZ(76.90845510439928px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(288.2541033514337deg) translateX(13.660779082621879px)
              translateZ(185.35688366951248px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(301.32267964279936deg) translateX(45.871916682909735px)
              translateZ(56.512333268361054px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(42.564935003088394deg) translateX(21.362079070918163px)
              translateZ(154.55168371632735px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(63.93727223126114deg) translateX(54.2196104973053px)
              translateZ(23.121558010778806px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(150.69001933537905deg) translateX(48.654918645468676px)
              translateZ(45.38032541812529px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(204.13492517278326deg) translateX(33.7069149273518px)
              translateZ(105.17234029059281px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(264.71383364957535deg) translateX(24.34264347402886px)
              translateZ(142.62942610388455px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(339.0552611269552deg) translateX(46.04526630895698px)
              translateZ(55.81893476417206px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(54.39702008100257deg) translateX(41.97894928412687px)
              translateZ(72.08420286349251px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(96.73438148595187deg) translateX(14.633306095484073px)
              translateZ(181.4667756180637px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(136.07086710556834deg) translateX(27.879522230990133px)
              translateZ(128.48191107603947px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(180.96896223619376deg) translateX(45.42426616589512px)
              translateZ(58.30293533641952px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(294.4565677571652deg) translateX(25.108758361762227px)
              translateZ(139.5649665529511px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(338.4723471707751deg) translateX(29.966824486054733px)
              translateZ(120.13270205578107px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(41.646269311969deg) translateX(39.09442961661415px)
              translateZ(83.62228153354341px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(97.74592082462436deg) translateX(47.13279016784903px)
              translateZ(51.46883932860388px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(160.2532001438013deg) translateX(34.437224961397234px)
              translateZ(102.25110015441106px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(227.25042907944663deg) translateX(44.1975043752485px)
              translateZ(63.20998249900599px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(292.81234660058794deg) translateX(36.711025222722924px)
              translateZ(93.1558991091083px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(323.0501575581301deg) translateX(32.80645311287648px)
              translateZ(108.77418754849406px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(10.464414778064002deg) translateX(15.223536205665695px)
              translateZ(179.10585517733722px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(106.89270843508997deg) translateX(46.55235101911423px)
              translateZ(53.790595923543094px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(129.27146469062652deg) translateX(21.230428870097057px)
              translateZ(155.07828451961177px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(203.24467665859925deg) translateX(20.393838012386496px)
              translateZ(158.42464795045402px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(265.64232845921333deg) translateX(34.13365570895421px)
              translateZ(103.46537716418318px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(338.43281482753827deg) translateX(33.92220658113608px)
              translateZ(104.31117367545569px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(56.19385986528329deg) translateX(25.232622817778754px)
              translateZ(139.06950872888498px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(63.27388218963444deg) translateX(11.452120140880751px)
              translateZ(194.191519436477px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(165.2464477876395deg) translateX(20.238630132446104px)
              translateZ(159.04547947021558px) rotateY(75deg);
          "
        ></div>
        <div
          class="ct-ornament"
          style="
            transform: rotateZ(199.71458774579173deg) translateX(11.107140129842861px)
              translateZ(195.57143948062856px) rotateY(75deg);
          "
        ></div>
      </div>
      <div class="tree-top">
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-4.25px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-4.5px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-4.75px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-5px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-5.25px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-5.5px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-5.75px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-6px) rotateX(-90deg)"
        ></div>
        <div
          class="star"
          style="transform: translateZ(225px) translateY(-6.25px) rotateX(-90deg)"
        ></div>
      </div>
    </div>
  </div>
</div>
