<div class="polar-bear-container">
  <div class="polar-bear">
    <div class="polar-bear__body">
      <div class="polar-bear__foot polar-bear__foot--left">
        <div class="polar-bear__print"></div>
        <div class="polar-bear__fingers"></div>
      </div>
      <div class="polar-bear__foot polar-bear__foot--right">
        <div class="polar-bear__print"></div>
        <div class="polar-bear__fingers"></div>
      </div>
      <div class="polar-bear__arm--left"></div>
      <div class="polar-bear__arm--right"></div>
    </div>
    <div class="polar-bear__head">
      <div class="polar-bear__face"></div>
      <div class="polar-bear__scarf-line"></div>
      <div class="polar-bear__scarf"></div>
      <div class="polar-bear__scarf-end--left"></div>
      <div class="polar-bear__scarf-end--right"></div>
      <div class="polar-bear__ear polar-bear__ear--left"></div>
      <div class="polar-bear__ear polar-bear__ear--right"></div>
      <div class="polar-bear__eye polar-bear__eye--left"></div>
      <div class="polar-bear__eye polar-bear__eye--right"></div>
      <div class="polar-bear__lip polar-bear__lip--left"></div>
      <div class="polar-bear__lip polar-bear__lip--right"></div>
      <div class="polar-bear__nose"></div>
    </div>
  </div>
</div>
