<div class="title">
  <img ngSrc="content/images/angular_wordmark_gradient.png" width="400" height="125" priority="true" alt="Angular Wordmark Gradient" />
  <h1>Christmas Calendar</h1>
</div>

@for (card of cards; track $index) {
  <div
    class="card day-{{ card.day }}"
    xmasOpenDetailsDialog
    [card]="card"
    [xmasShakeWhenDisabled]="!card.canReveal && !card.revealed"
    [class.pulse]="card.canReveal && !card.revealed"
  >
    <label>
      <input type="checkbox" [checked]="card.revealed" [disabled]="!card.canReveal" (change)="card.revealed = !card.revealed" />
      @if (!card.revealed || (card.revealed && card.canReveal)) {
        <div class="door" [class.door--can-reveal]="card.canReveal">
          <div class="front">{{ card.day }}</div>
          <div class="back"></div>
        </div>
      }

      @defer (on viewport) {
        <div class="inside">
          @if (card.revealed || card.canReveal) {
            <ng-template [xmasCalendarCardFactory] [type]="card.day"></ng-template>
          }
        </div>
      } @placeholder {
        <span></span>
      }

      @if (card.contents && card.contents.length === 1 && card.revealed) {
        <div class="title-container">
          <div class="title-container-content">
            @for (content of card.contents; track $index) {
              @if (!content.author.socialAccountsData) {
                <p>{{ content.author.name }}</p>
              } @else {
                <a [href]="content.author.socialAccountsData! | socialProfileUrl" target="_blank" title="Link to author's twitter account">
                  {{ content.author.name }}
                </a>
              }
            }
          </div>
        </div>
      }
    </label>
  </div>
}

<div class="card space">
  <a href="https://angularspace.com/?ref=angularchristmascalendar.com" target="_blank">
    <img
      ngSrc="content/images/angular-space.png"
      width="100"
      height="100"
      href="https://polarized-pram-52c.notion.site/What-s-the-First-Name-of-Angular-Veteran-who-has-become-AI-Expert-150d2d2ccbe0800bb4d1e8aab045f89c?pvs=4"
      target="_blank"
      alt="Angular Space"
      priority
    />
  </a>
</div>

<div class="year">
  <h1>2024</h1>
</div>
