<div class="santa-container">
  <div class="santa">
    <div class="santa-head">
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-beard"></div>
      <div class="santa-face">
        <div class="santa-nose"></div>
      </div>
      <div class="santa-moustache santa-moustache--left"></div>
      <div class="santa-moustache santa-moustache--right"></div>
      <div class="santa-nose"></div>
      <div class="santa-eye santa-eye--left"></div>
      <div class="santa-eye santa-eye--right"></div>
    </div>
    <div class="santa-hat">
      <div class="santa-hat-background"></div>
      <div class="santa-hat-front">
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div class="santa-hat-front-bg"></div>
        <div>
          <div class="santa-hat-front-side"></div>
          <div class="santa-hat-front-side"></div>
          <div class="santa-hat-front-side"></div>
          <div class="santa-hat-front-side"></div>
        </div>
      </div>
      <div class="santa-hat-pompom">
        <div class="santa-hat-pompom-bg"></div>
        <div class="santa-hat-pompom-bg"></div>
        <div class="santa-hat-pompom-bg"></div>
        <div class="santa-hat-pompom-bg"></div>
        <div class="santa-hat-pompom-bg"></div>
        <div class="santa-hat-pompom-bg"></div>
      </div>
    </div>
  </div>
</div>