{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "quoteProps": "preserve",
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "ignore"
}
