<div class="jingle-bells-container">
  <div class="jingle-bells">
    <div class="staff-lines">
      <div class="clef">&#119070;</div>
      <div class="bar">
        <div class="note note--e note--a1">&#119135;</div>
        <div class="note note--e note--a2">&#119135;</div>
        <div class="note note--e note--a3">&#119134;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a4">&#119135;</div>
        <div class="note note--e note--a5">&#119135;</div>
        <div class="note note--e note--a6">&#119134;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a7">&#119135;</div>
        <div class="note note--g note--a8">&#119135;</div>
        <div class="note note--c note--a9">&#119135;</div>
        <div class="note note--d note--a10">&#119135;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--full note--a11">&#119133;</div>
      </div>
      <div class="bar">
        <div class="note note--f note--a12">𝅘𝅥</div>
        <div class="note note--f note--a13">𝅘𝅥</div>
        <div class="note note--f note--a14">𝅘𝅥</div>
        <div class="note note--f note--a15">𝅘𝅥</div>
      </div>
      <div class="bar">
        <div class="note note--f note--a16">&#119135;</div>
        <div class="note note--e note--a17">&#119135;</div>
        <div class="note note--e note--a18">&#119135;</div>
        <div class="note note--e note--a19">&#119135;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a20">&#119135;</div>
        <div class="note note--d note--a21">&#119135;</div>
        <div class="note note--d note--a22">&#119135;</div>
        <div class="note note--e note--a23">&#119135; </div>
      </div>
      <div class="bar">
        <div class="note note--d note--a24">&#119134;</div>
        <div class="note note--g note--a25">&#119134;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a26">&#119135;</div>
        <div class="note note--e note--a27">&#119135;</div>
        <div class="note note--e note--a28">&#119134;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a29">&#119135;</div>
        <div class="note note--e note--a30">&#119135;</div>
        <div class="note note--e note--a31">&#119134;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a32">&#119135;</div>
        <div class="note note--d note--a33">&#119135;</div>
        <div class="note note--d note--a34">&#119135;</div>
        <div class="note note--e note--a35">&#119135;</div>
      </div>
      <div class="bar">
        <div class="note note--e note--a36">&#119133;</div>
      </div>
      <div class="bar">
        <div class="note note--f note--a37">&#119135;</div>
        <div class="note note--f note--a38">&#119135;</div>
        <div class="note note--f note--a39">&#119135;</div>
        <div class="note note--f note--a40">&#119135;</div>
      </div>
      <div class="bar">
        <div class="note note--f note--a41">&#119135;</div>
        <div class="note note--e note--a42">&#119135;</div>
        <div class="note note--e note--a43">&#119135;</div>
        <div class="note note--e note--a44">&#119135;</div>
      </div>
      <div class="bar">
        <div class="note note--g note--a45">&#119135;</div>
        <div class="note note--g note--a46">&#119135;</div>
        <div class="note note--f note--a47">&#119135;</div>
        <div class="note note--d note--a48">&#119135; </div>
      </div>
      <div class="bar bar--end">
        <div class="note note--c note--full note--a49">&#119133;</div>
      </div>
    </div>
    <audio id="jingle-bells-audio">
      <source src="https://csschristmascalendar.com/assets/jingle-bells.mp3" type="audio/mpeg"/>
    </audio>
  </div>
</div>