<div class="north-pole-container">
  <div class="north-pole">
    <div class="ground"></div>
    <div class="pole"></div>
    <div class="sign">
      North Pole
      <div class="icicle icicle-1"></div>
      <div class="icicle icicle-2"></div>
      <div class="icicle icicle-3"></div>
      <div class="icicle icicle-4"></div>
      <div class="icicle icicle-5"></div>
      <div class="ice-left"></div>
      <div class="ice-right"></div>
      <div class="snow"></div>
    </div>
    <div class="top"></div>
  </div>
</div>