<div class="title">
  <h1>
    <span class="title-1">Angular</span>
    <span class="title-2">Christmas</span>
    <span class="title-3">Calendar</span>
  </h1>
</div>
@for (card of cards; track $index) {
  <div class="day day-{{card.day}}" (click)="tryToOpenDialog(card)">
    <label>
      <input type="checkbox" [checked]="card.revealed" [disabled]="!card.canReveal" (change)="card.revealed = !card.revealed"/>

      @if (!card.revealed || (card.revealed && card.canReveal)) {
        <div class="door" [class.door--can-reveal]="card.canReveal">
          <div class="front">{{ card.day }}</div>
          <div class="back"></div>
        </div>
      }
      <div class="inside">
        <ng-template [xmasCalendarCardFactory] [type]="card.day"></ng-template>
      </div>
      @if (card.content?.author) {
        <div class="title-container">
          @if (!card.content?.author?.twitterUrl) {
            <p>{{ card.content?.author?.name}}</p>
          } @else {
            <a [href]="card.content?.author?.twitterUrl" target="_blank" title="Link to author's twitter account">{{ card.content?.author?.name}}</a>
          }
        </div>
      }
    </label>
  </div>
}
