.snow-area {
  z-index: -1;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.snowflakie {
  opacity: 0.4;
  pointer-events: none;
  will-change: transform, opacity, left;
  border-radius: 50%;
  max-width: 8px;
  max-height: 8px;
  -webkit-animation-name: snowAnime;
  animation-name: snowAnime;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.snowflakie.c1 {
  background-color: rgba(255, 255, 255, 0.9);
}

.snowflakie.c2 {
  background-color: #d6ffff;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.snowflakie.c3 {
  background-color: #fff;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}

@-webkit-keyframes snowAnime {
  15%,
  95% {
    opacity: 1;
    left: var(--drift);
  }

  to {
    opacity: 0.8;
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh);
  }
}

@keyframes snowAnime {
  15%,
  95% {
    opacity: 1;
  }

  to {
    opacity: 0.8;
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh);
  }
}