/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --white: white;
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  font-family: "Mountains of Christmas", cursive;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(https://i.ibb.co/4SPwtVN/pexels-photo-1303094.png) no-repeat top center #8ac1d6;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

footer {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  opacity: 0.5;
  transition: opacity 400ms ease-in-out;
}

footer:hover {
  opacity: 1;
}

footer div {
  display: flex;
  align-items: center;
  background-color: #161e2b;
  border-radius: 0.4rem;
  overflow: hidden;
}

footer .footer-info {
  width: 2.8rem;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.6rem;
  color: #ffffff;
}

footer div div {
  position: relative;
  margin-right: -15.3rem;
  display: inline-block;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem 0.6rem 0.2rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8rem;
  color: #80a7e7;
  line-height: 1.6rem;
  transition: all 500ms ease-in-out;
}

@media only screen and (min-width: 576px) {
  footer div div {
    font-size: 1rem;
    margin-right: -18.5rem;
  }
}

footer:hover div div {
  margin-right: 0px;
}

footer a {
  margin-left: 0.2rem;
  color: #ffffff;
}

xmas-calendar-grid {
  :checked ~ .inside .jingle-bells .staff-lines,
  :checked ~ .inside .jingle-bells .note {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}
