<div class="gift-box-day">
  <div class="gift-box-container">
    <div class="gift-box">
      <div class="gift-box__side gift-box__side--front"></div>
      <div class="gift-box__side gift-box__side--back"></div>
      <div class="gift-box__side gift-box__side--left"></div>
      <div class="gift-box__side gift-box__side--right"></div>
      <div class="gift-box__end gift-box__side--top"></div>
      <div class="gift-box__end gift-box__side--bottom"></div>
      <div class="gift-box-lid__side gift-box-lid__side--front"></div>
      <div class="gift-box-lid__side gift-box-lid__side--back"></div>
      <div class="gift-box-lid__side gift-box-lid__side--left"></div>
      <div class="gift-box-lid__side gift-box-lid__side--right"></div>
      <div class="gift-box-lid__end gift-box-lid__side--top"></div>
      <div class="ribbon-l" style="--gift-box-position: 0px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 1px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 2px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 3px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 4px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 5px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 6px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 7px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 8px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 9px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 10px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 11px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 12px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 13px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 14px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 15px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 16px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 17px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 18px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 19px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 20px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 21px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 22px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 23px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 24px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 25px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 26px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 27px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 28px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 29px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 30px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 31px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 32px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 33px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 34px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 35px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 36px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 37px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 38px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 39px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l" style="--gift-box-position: 40px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-l-end"></div>
      <div class="ribbon-r" style="--gift-box-position: 0px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 1px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 2px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 3px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 4px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 5px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 6px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 7px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 8px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 9px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 10px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 11px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 12px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 13px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 14px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 15px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 16px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 17px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 18px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 19px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 20px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 21px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 22px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 23px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 24px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 25px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 26px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 27px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 28px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 29px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 30px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 31px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 32px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 33px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 34px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 35px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 36px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 37px; border-color: var(--wrap-ribbon-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 38px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 39px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r" style="--gift-box-position: 40px; border-color: var(--gift-box-edge-color)"></div>
      <div class="ribbon-r-end"></div>
    </div>
  </div>
</div>