<div class="candle-container">
  <div class="candle">
    <div class="candle__body"></div>
    <div class="candle__bottom"></div>
    <div class="candle__wax-1"></div>
    <div class="candle__wax-2"></div>
    <div class="candle__wax-3"></div>
    <div class="candle-string"></div>
    <div class="candle__light">
      <div class="candle__flame">
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn burn-a"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
        <div class="candle__flame-burn"></div>
      </div>
    </div>
  </div>
</div>