<div class="elf-hat-container">
  <div class="elf-hat">
    <div class="elf-hat__main"></div>
    <div class="elf-hat__main-shadow"></div>
    <div class="elf-hat__gold elf-hat__gold--main"></div>
    <div class="elf-hat__side">
      <div class="elf-hat__side__left"></div>
      <div class="elf-hat__side__right"></div>
      <div class="elf-hat__side__spikes"></div>
    </div>
    <div class="elf-hat__gold elf-hat__gold--left"></div>
    <div class="elf-hat__gold elf-hat__gold--left-center"></div>
    <div class="elf-hat__gold elf-hat__gold--right-center"></div>
    <div class="elf-hat__gold elf-hat__gold--right"></div>
  </div>
</div>