.stocking-container {
  --stocking-background: #b2b09b;
  --stocking-red: #a93f55;
  --stocking-heel: #f2545b;
  --stocking-blue: rgba(25, 50, 60, 0.4);
  --stocking-wool: #f3f7f0;

  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at center,
    var(--stocking-background) 0,
    rgb(25, 50, 60) 200%
  );
}

.stocking {
  position: absolute;
  transform: rotate(20deg) scale(0.3) translateY(-1rem);
}

@media only screen and (min-width: 576px) {
  .stocking {
    transform: rotate(20deg) scale(0.35) translateY(-1rem);
  }
}

.stocking .stocking-hanger {
  width: 0.3rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--stocking-heel);
  transform-origin: bottom center;
  transform: rotate(-20deg);
}

.stocking .stocking-wool {
  position: relative;
  z-index: 3;
  width: 6.4rem;
  height: 4rem;
  margin-left: -0.2rem;
  background-color: var(--stocking-wool);
}

.stocking .stocking-wool::after {
  content: "";
  position: absolute;
  display: block;
  width: 7.4rem;
  height: 5rem;
  top: -0.5rem;
  left: -0.5rem;
  background-image: radial-gradient(
    var(--stocking-wool) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-position: 0 0;
  background-size: 0.925rem 1rem;
}

.stocking .stocking-leg {
  position: relative;
  width: 6rem;
  height: 10rem;
  border-radius: 0 0 0 2rem;
  background: repeating-linear-gradient(
      20deg,
      transparent,
      transparent 10px,
      var(--stocking-blue) 5px,
      var(--stocking-blue) 20px
    ),
    repeating-linear-gradient(
      110deg,
      transparent,
      transparent 10px,
      var(--stocking-blue) 5px,
      var(--stocking-blue) 20px
    );
  background-color: var(--stocking-red);
  overflow: hidden;
}

.stocking .stocking-foot {
  position: absolute;
  width: 5rem;
  height: 10rem;
  border-radius: 2rem;
  background: repeating-linear-gradient(
      20deg,
      transparent,
      transparent 10px,
      var(--stocking-blue) 5px,
      var(--stocking-blue) 20px
    ),
    repeating-linear-gradient(
      110deg,
      transparent,
      transparent 10px,
      var(--stocking-blue) 5px,
      var(--stocking-blue) 20px
    );
  background-color: var(--stocking-red);
  transform-origin: top left;
  transform: rotate(-70deg) translateY(-0.6rem);
  overflow: hidden;
}

.stocking .stocking-heel {
  position: relative;
  z-index: 2;
  width: 6rem;
  height: 6rem;
  border-radius: 4rem;
  background-color: var(--stocking-heel);
}

.stocking .stocking-leg .stocking-heel {
  position: absolute;
  bottom: -3rem;
  margin-left: -3rem;
}

.stocking .stocking-foot .stocking-heel {
  margin-left: -3rem;
  margin-top: -2rem;
}