/**
 * Day 21 - toy train
 * https://codepen.io/johnnyfekete/pen/jOMGMJy
 */

.toy-train-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  background-color: #f1faee;
}

.toy-train {
  --toy-train-red: #f45b69;
  --toy-train-blue: #456990;
  --toy-train-gold: #edaa41;
  --toy-train-gray: #ababab;

  width: 39rem;
  height: 20rem;
  position: relative;
  transform: scale(0.15) translateX(-16rem) translateY(-45rem);
}

@media only screen and (min-width: 576px) {
  .toy-train {
    transform: scale(0.2) translateX(-15rem) translateY(-26rem);
  }
}

.toy-train .locomotive {
  position: absolute;
  top: 5rem;
  -webkit-animation: train-shake 1s infinite linear;
  animation: train-shake 1s infinite linear;
}

.toy-train .passanger-car {
  position: absolute;
  top: 5rem;
  left: 25rem;
  -webkit-animation: train-shake 1s infinite linear;
  animation: train-shake 1s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.toy-train .locomotive .chimney {
  position: absolute;
  left: 5rem;
  width: 5.5rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .chimney::before {
  content: '';
  display: block;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: 4.5rem;
  height: 2rem;
  border-radius: 0.5rem 0.5rem 3rem 3rem;
  background-color: var(--toy-train-blue);
}

.toy-train .locomotive .chimney::after {
  content: '';
  display: block;
  position: absolute;
  top: 2.5rem;
  left: 1.75rem;
  width: 2rem;
  height: 3rem;
  background-color: var(--toy-train-blue);
}

.toy-train .chimney .smoke {
  position: absolute;
  top: -3rem;
  left: 1rem;
  width: 5rem;
  height: 3rem;
  background: radial-gradient(circle at 1rem 1.5rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem),
    radial-gradient(circle at 2rem 1rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem),
    radial-gradient(circle at 3rem 1rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem),
    radial-gradient(circle at 4rem 1.5rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem),
    radial-gradient(circle at 2rem 2rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem),
    radial-gradient(circle at 3rem 2rem, var(--toy-train-gray) 0, var(--toy-train-gray) 0.5rem, transparent 1rem);
  opacity: 0;
  -webkit-animation: train-smoke 3s infinite linear;
  animation: train-smoke 3s infinite linear;
}

.toy-train .chimney .smoke:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.toy-train .chimney .smoke:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.toy-train .locomotive .boiler {
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .boiler::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 0.75rem;
  width: 9.5rem;
  height: 6rem;
  border-radius: 3rem 0 0 3rem;
  background-color: var(--toy-train-red);
}

.toy-train .locomotive .boiler::after {
  content: '';
  display: block;
  position: absolute;
  top: -2.5rem;
  left: 2.75rem;
  width: 1rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: var(--toy-train-gold);
}

.toy-train .car-cabin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  top: 2rem;
  width: 8em;
  height: 6.5rem;
  border-radius: 0 0;
  background-color: var(--toy-train-blue);
}

.toy-train .car-cabin::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 4;
  top: -2rem;
  left: -1rem;
  right: -1rem;
  height: 2rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  background-color: var(--toy-train-red);
}

.toy-train .passanger-car .car-cabin {
  width: 12rem;
}

.toy-train .car-cabin .window {
  width: 3.5rem;
  height: 4.5rem;
  box-sizing: border-box;
  border: 0.5rem solid var(--toy-train-gold);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

.toy-train .side-bar {
  position: absolute;
  z-index: 5;
  top: 8.5rem;
  left: 4.75rem;
  width: 16em;
  height: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .car-cabin {
  left: 12.25rem;
}

.toy-train .passanger-car .side-bar {
  left: -0.5rem;
  width: 13rem;
  border-radius: 0.5rem;
}

.toy-train .passanger-car .window:first-child {
  margin-left: 1.5rem;
}
.toy-train .passanger-car .window:last-child {
  margin-right: 1.5rem;
}

.toy-train .locomotive .car-cabin .window {
  border-radius: 2rem 2rem 0.5rem 0.5rem;
}

.toy-train .car-bottom {
  position: absolute;
  z-index: 4;
  top: 9rem;
  height: 4rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--toy-train-blue);
}

.toy-train .locomotive .car-bottom {
  left: 4.75rem;
  width: 15.5rem;
}

.toy-train .passanger-car .car-bottom {
  width: 12rem;
}

.toy-train .bumper {
  position: absolute;
  right: -2rem;
  top: 1rem;
  width: 2rem;
  height: 1rem;
  background-color: var(--toy-train-blue);
}

.toy-train .bumper::after {
  content: '';
  display: block;
  position: absolute;
  right: 0rem;
  top: -0.5rem;
  width: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-blue);
}

.toy-train .bumper.bumper--front {
  left: -2rem;
  right: auto;
  transform: rotate(180deg);
}

.toy-train .front {
  position: absolute;
  z-index: 7;
  left: 2.5rem;
  top: 9.5rem;
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-gray);
}

.toy-train .snow-breaker {
  position: absolute;
  z-index: 6;
  left: 0.75rem;
  top: 11rem;
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  border: 0.75rem solid var(--toy-train-red);
  border-left: none;
  border-top: none;
}

.toy-train .snow-breaker::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 5rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-red);
  transform-origin: 0.375rem 0.375rem;
  transform: rotate(-50deg);
}

.toy-train .snow-breaker::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 2rem;
  width: 4rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-red);
  transform-origin: 0.375rem 0.375rem;
  transform: rotate(-70deg);
}

.wheel {
  position: absolute;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(
      circle at center,
      var(--toy-train-gold) 10%,
      var(--toy-train-red) 10%,
      var(--toy-train-red) 25%,
      transparent 25%,
      transparent 55%,
      var(--toy-train-red) 55%
    ),
    linear-gradient(
      0deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    );
}

.toy-train .locomotive .wheel:first-child {
  left: 3rem;
  -webkit-animation: train-wheel-1 2s infinite linear;
  animation: train-wheel-1 2s infinite linear;
}

.toy-train .locomotive .wheel:nth-child(2) {
  left: 10rem;
  -webkit-animation: train-wheel-2 2s infinite linear;
  animation: train-wheel-2 2s infinite linear;
}

.toy-train .passanger-car .wheel:first-child {
  left: 0.5rem;
  -webkit-animation: train-wheel-1 2s infinite linear;
  animation: train-wheel-1 2s infinite linear;
}

.toy-train .passanger-car .wheel:nth-child(2) {
  left: 6.5rem;
  -webkit-animation: train-wheel-2 2s infinite linear;
  animation: train-wheel-2 2s infinite linear;
}

@-webkit-keyframes train-wheel-1 {
  0% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

@keyframes train-wheel-1 {
  0% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

@-webkit-keyframes train-wheel-2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes train-wheel-2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes train-shake {
  0% {
    transform: translate(0.1rem, 0.1rem);
  }
  10% {
    transform: translate(-0.1rem, 0rem);
  }
  20% {
    transform: translate(0rem, -0.1rem);
  }
  30% {
    transform: translate(0.1rem, -0.1rem);
  }
  40% {
    transform: translate(-0.1rem, 0rem);
  }
  50% {
    transform: translate(0rem, -0.1rem);
  }
  60% {
    transform: translate(-0.1rem, 0rem);
  }
  70% {
    transform: translate(0rem, -0.1rem);
  }
  80% {
    transform: translate(-0.1rem, 0.1rem);
  }
  90% {
    transform: translate(-0.1rem, -0.1rem);
  }
  100% {
    transform: translate(0.1rem, 0.1rem);
  }
}

@keyframes train-shake {
  0% {
    transform: translate(0.1rem, 0.1rem);
  }
  10% {
    transform: translate(-0.1rem, 0rem);
  }
  20% {
    transform: translate(0rem, -0.1rem);
  }
  30% {
    transform: translate(0.1rem, -0.1rem);
  }
  40% {
    transform: translate(-0.1rem, 0rem);
  }
  50% {
    transform: translate(0rem, -0.1rem);
  }
  60% {
    transform: translate(-0.1rem, 0rem);
  }
  70% {
    transform: translate(0rem, -0.1rem);
  }
  80% {
    transform: translate(-0.1rem, 0.1rem);
  }
  90% {
    transform: translate(-0.1rem, -0.1rem);
  }
  100% {
    transform: translate(0.1rem, 0.1rem);
  }
}

@-webkit-keyframes train-smoke {
  0% {
    transform: translate(-1.5rem, 0.5rem) scale(0.5);
    opacity: 0;
  }
  10% {
    transform: translate(0rem, 0rem) scale(0.7);
    opacity: 0.5;
  }
  20% {
    transform: translate(2rem, -1rem) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(15rem, -4rem) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(20rem, -6rem) scale(1.5);
    opacity: 0;
  }
}

@keyframes train-smoke {
  0% {
    transform: translate(-1.5rem, 0.5rem) scale(0.5);
    opacity: 0;
  }
  10% {
    transform: translate(0rem, 0rem) scale(0.7);
    opacity: 0.5;
  }
  20% {
    transform: translate(2rem, -1rem) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(15rem, -4rem) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(20rem, -6rem) scale(1.5);
    opacity: 0;
  }
}
