/**
 * Day 16 - ice skate
 * https://codepen.io/johnnyfekete/pen/MWjoPBR
 */
.skate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ffe66d;
}

.skate {
  --skate-blade: #d8e2dc;
  --skate-gray: #c5d4cb;
  --skate: #00509d;
  --skate-dark: #003f88;
  --skate-brown: #c17c74;
  --skate-brown-dark: #b15b51;

  position: relative;
  z-index: 2;
  width: 16rem;
  height: 16rem;
  transform: scale(0.3) translateX(-4.5rem);
}

@media only screen and (min-width: 576px) {
  .skate {
    transform: scale(0.4) translateX(-3rem);
  }
}

.skate .skate-blade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14rem;
  height: 1.5rem;
  background-color: var(--skate-blade);
  border-radius: 1rem;
}

.skate .skate-blade::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 13rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(
    circle at 0 0,
    transparent 1.5rem,
    var(--skate-blade) 1.5rem,
    var(--skate-blade) 3rem,
    transparent 3rem
  );
}

.skate .skate-blade::after {
  content: "";
  display: block;
  position: absolute;
  top: -2.25rem;
  left: 14.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--skate-blade);
  border-radius: 1rem;
}

.skate .skate-blade-holder-left {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(
    circle at 0 0,
    transparent 1.5rem,
    var(--skate-gray) 1.5rem,
    var(--skate-gray) 3rem,
    transparent 3rem
  );
}

.skate .skate-blade-holder-left::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1rem;
  background-color: var(--skate-gray);
}

.skate .skate-blade-holder-right {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  left: 10rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(
    circle at 3rem 0,
    transparent 1.5rem,
    var(--skate-gray) 1.5rem,
    var(--skate-gray) 3rem,
    transparent 3rem
  );
}

.skate .skate-blade-holder-right::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1rem;
  left: 0rem;
  width: 1.5rem;
  height: 1rem;
  background-color: var(--skate-gray);
}

.skate .skate-boot-bottom {
  position: absolute;
  top: 10.75rem;
  left: 1.5rem;
  height: 1.5rem;
  width: 13rem;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: var(--skate-brown-dark);
}

.skate .skate-boot-bottom::after {
  content: "";
  display: block;
  position: absolute;
  left: 2rem;
  height: 1.5rem;
  width: 11rem;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: var(--skate-brown);
}

.skate .skate-boot-back {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  height: 8.75rem;
  width: 4rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: var(--skate-dark);
}

.skate .skate-boot-main {
  position: absolute;
  top: 2rem;
  left: 3.5rem;
  height: 8.75rem;
  width: 2.5rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: var(--skate);
}

.skate .skate-boot-main::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  left: 2.5rem;
  width: 5rem;
  height: 5rem;
  background: radial-gradient(
    circle at 5rem 0,
    transparent 5rem,
    var(--skate) 5rem
  );
}

.skate .skate-boot-main-bottom {
  position: absolute;
  top: 8.5rem;
  left: 12rem;
  height: 2.25rem;
  width: 2.5rem;
  border-radius: 0 1.5rem 0 0;
  background-color: var(--skate);
}

.skate .skate-boot-main-bottom::before {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  left: -7rem;
  height: 1.25rem;
  width: 7rem;
  background-color: var(--skate);
}

.skate .skate-boot-main-bottom::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  left: -1rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--skate);
  background: radial-gradient(
    circle at 0 0,
    transparent 1rem,
    var(--skate) 1rem
  );
}

.skate .skate-boot-front {
  display: block;
  position: absolute;
  top: 3.5rem;
  left: 3rem;
  height: 7rem;
  width: 9rem;
  background: radial-gradient(
    circle at 9rem 0,
    transparent 5rem,
    var(--skate-dark) 5rem
  );
  transform-origin: right center;
  transform: scaleX(0.8);
}

.skate .skate-boot-front::before {
  content: "";
  display: block;
  position: absolute;
  top: -3.5rem;
  left: -0rem;
  height: 3.5rem;
  width: 4rem;
  background-color: var(--skate-dark);
  border-radius: 3rem 0.75rem 0 0;
}

.skate .skate-tie {
  position: absolute;
  z-index: 5;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: var(--skate-gray);
}

.skate .skate-tie::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  width: 2.75rem;
  height: 0.6rem;
  border-radius: 1rem;
  background-color: var(--skate-brown);
}

.skate .skate-tie.skate-tie--1 {
  top: 4rem;
  left: 5.25rem;
  transform: rotate(-10deg);
}

.skate .skate-tie.skate-tie--2 {
  top: 6rem;
  left: 5.75rem;
  transform: rotate(-20deg);
}

.skate .skate-tie.skate-tie--3 {
  top: 7.6rem;
  left: 7rem;
  transform: rotate(-30deg);
}

.skate .skate-tie.skate-tie--3::after {
  width: 2.5rem;
}