<div class="hot-chocolate-container">
  <div class="hot-chocolate">
    <div class="mug">
      <div class="mug__grip"></div>
      <div class="mug__contents">
        <div class="mug__background">
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
          <div class="mug__background-curve"></div>
        </div>
        <div class="mug__shine"></div>
        <div class="mug__shine--bottom"></div>
      </div>
      <div class="marshmallows">
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
        <div class="marshmallow"></div>
      </div>
    </div>
  </div>
</div>