/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --white: white;
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  font-family: 'Mountains of Christmas';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('./assets/content/images/background.jpg') no-repeat top center var(--white);
  background-size: cover;
  overflow-x: hidden;
}

footer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sans-serif';
  bottom: 0;
}
@media (min-width: 1400px) {
  .footer-container{
    display:flex;
    align-items: center;
  }
}

@media only screen and (min-width: 900px) {
  body {
    height: 100vh;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-position-x: -2000px;
  }

  footer {
    flex-direction: column;
    gap: 1rem;
    width: 96vw;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

xmas-calendar-grid {
  :checked ~ .inside .jingle-bells .staff-lines,
  :checked ~ .inside .jingle-bells .note {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}

*:focus {
  outline: none;
}