<div class="sledge-container">
  <div class="sledge">
    <div class="sledge-runner__front"></div>
    <div class="sledge-runner__front sledge-runner__front--top"></div>
    <div class="sledge-runner">
      <div class="sledge-runner__left-leg"></div>
      <div class="sledge-runner__right-leg"></div>
    </div>
    <div class="sledge-runner__back">
      <div class="sledge-runner__front"></div>
      <div class="sledge-runner__front sledge-runner__front--top"></div>
      <div class="sledge-runner">
        <div class="sledge-runner__left-leg"></div>
        <div class="sledge-runner__right-leg"></div>
      </div>
    </div>
    <div class="sledge-seat">
      <div class="sledge-top">
        <div class="sledge-top__piece"></div>
        <div class="sledge-top__piece"></div>
        <div class="sledge-top__piece"></div>
        <div class="sledge-top__piece"></div>
        <div class="sledge-top__piece"></div>
        <div class="sledge-top__piece"></div>
      </div>
      <div class="sledge-back">
        <div class="sledge-back__piece"></div>
        <div class="sledge-back__piece"></div>
        <div class="sledge-back__piece"></div>
        <div class="sledge-back__piece"></div>
        <div class="sledge-back__piece"></div>
        <div class="sledge-back__piece"></div>
      </div>
      <div class="sledge-side"></div>
    </div>
  </div>
</div>
