<div class="xmas-dialog">
  @if (selectedContent()) {
    <ng-container *ngTemplateOutlet="angularExpertThoughts"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="selectAngularExpert"></ng-container>
  }
</div>

<ng-template #angularExpertThoughts>
  @if(selectedContent()!.gift){
    <a
    href="https://polarized-pram-52c.notion.site/What-s-the-First-Name-of-Angular-Veteran-who-has-become-AI-Expert-150d2d2ccbe0800bb4d1e8aab045f89c?pvs=4"
    target="_blank"
    class="gift">
    <img
    src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3dvNXFoOGh6bTF4MGRhdHRkMHlkajdjamFqcHN2dmxtZmk1MHJxMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/WUR1sMAkdlpqqdP0E5/giphy.gif"
    width="50"
    height="50"
    priority="true"
    alt="Gift"
  />
    </a>
  }
  <header class="xmas-dialog-header">
    <img
      [src]="selectedContent()!.author.avatarUrl"
      alt="{{ selectedContent()!.author.name }} thoughts about Angular in 2024!"
    />

    <div class="xmas-dialog-header-details">
      @if (selectedContent()!.author && selectedContent()!.author.socialAccountsData) {
        <a
          class="no-underline"
          [href]="selectedContent()!.author.socialAccountsData! | socialProfileUrl"
          tabindex="-1"
        >
          <span>{{ selectedContent()!.author.name }}</span>
        </a>
      } @else {
        <h1>{{ selectedContent()!.author.name }}</h1>
      }
    </div>

    <div class="xmas-dialog-header-card-wrapper">
      <div class="xmas-dialog-header-card">
        <ng-template [xmasCalendarCardFactory] [type]="data.day"></ng-template>
      </div>
    </div>
  </header>

  <div class="xmas-dialog-content">
    @if (selectedContent()!.videoSrc) {
      <iframe
        [src]="selectedContent()!.videoSrc! | safe: 'resourceUrl'"
        frameborder="0"
        width="640"
        height="360"
        allowfullscreen
      ></iframe>
    } @else if (selectedContent()!.descriptionHtml) {
      <div class="embedded-content" [innerHTML]="selectedContent()!.descriptionHtml"></div>
    } @else {
      <p>No content provided</p>
    }
  </div>

  <div class="xmas-dialog-actions">
    @if (selectedContent()!.author.brandImageUrl && selectedContent()!.author.brandExternalUrl) {
      <span>{{ selectedContent()!.author.resourceName }}</span>
      <a class="no-outline" [href]="selectedContent()!.author.brandExternalUrl" target="_blank">
        <img
          [src]="selectedContent()!.author.brandImageUrl"
          alt="{{ selectedContent()!.author.name }} brand"
        />
      </a>
    } @else if (selectedContent()!.author.brandImageUrl) {
      <img
        [src]="selectedContent()!.author.brandImageUrl"
        alt="{{ selectedContent()!.author.name }} brand"
      />
    }

    @if (data.contents?.length === 1) {
      <button type="button" (click)="closeDialog()" tabindex="0" class="button">Close</button>
    } @else {
      <button type="button" (click)="selectedContent.set(null)" tabindex="0" class="button">
        Back
      </button>
    }
  </div>
</ng-template>

<ng-template #selectAngularExpert>
  <header class="xmas-dialog-header">
    <h1>Remember to click on everyone 🙃🎅🎄</h1>
  </header>

  <div class="xmas-dialog-content xmas-dialog-select-expert">
    @for (content of data.contents; track $index) {
      <div class="xmas-dialog-card-wrapper" (click)="selectedContent.set(content)">
        <img
          class="xmas-dialog-select-expert-avatar"
          [src]="content.author.avatarUrl"
          alt="{{ content.author.name }}"
        />
        <p class="xmas-dialog-select-expert-name">{{ content.author.name }}</p>
      </div>
    }
  </div>

  <div class="xmas-dialog-actions">
    <button type="button" (click)="closeDialog()" tabindex="0" class="button">Close</button>
  </div>
</ng-template>
