<div class="xmas-dialog">
  <header class="xmas-dialog-header">
    <img
      [src]="data.content?.author?.avatarUrl"
      alt="{{ data.content?.author?.name }} thoughts about Angular in 2023!"
    />

    <div class="xmas-dialog-header-details">
      @if (data.content?.author && data.content?.author?.twitterHandle) {
        <a
          class="no-underline"
          [href]="data.content?.author?.twitterHandle! | twitterUrl"
          tabindex="-1"
        >
          <span>{{ data.content?.author?.name }}</span>
        </a>
      } @else {
        <h1>{{ data.content?.author?.name }}</h1>
      }
    </div>

    <div class="xmas-dialog-header-card-wrapper">
      <div class="xmas-dialog-header-card">
        <ng-template [xmasCalendarCardFactory] [type]="data.day"></ng-template>
      </div>
    </div>
  </header>

  <div class="xmas-dialog-content">
    @if (data.content?.videoSrc) {
      <iframe
        [src]="data.content?.videoSrc! | safe: 'resourceUrl'"
        frameborder="0"
        width="640"
        height="360"
        allowfullscreen
      ></iframe>
    } @else if (data.content?.descriptionHtml) {
      <div class="embedded-content" [innerHTML]="data.content?.descriptionHtml"></div>
    } @else {
      <p>No content provided</p>
    }
  </div>

  <div class="xmas-dialog-actions">
    @if (data.content?.author?.brandImageUrl && data.content?.author?.brandExternalUrl) {
      <span>Resources:</span>
      <a class="no-outline" [href]="data.content?.author?.brandExternalUrl" target="_blank">
        <img
          [src]="data.content?.author?.brandImageUrl"
          alt="{{ data.content?.author?.name }} brand"
        />
      </a>
    } @else if (data.content?.author?.brandImageUrl) {
      <img
        [src]="data.content?.author?.brandImageUrl"
        alt="{{ data.content?.author?.name }} brand"
      />
    }

    <button type="button" (click)="closeDialog()" tabindex="0" class="button">Close</button>
  </div>
</div>
