.xmas-dialog {
  width: 75vw;
  background-color: var(--white);
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.xmas-dialog-header {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.xmas-dialog-header h1,
.xmas-dialog-header a {
  color: #cc0000;
  font-size: 1.75rem;
}

.xmas-dialog-header-details a:hover {
  opacity: 0.6;
}

.xmas-dialog-header-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xmas-dialog-header img {
  width: 4rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.xmas-dialog-header-card-wrapper {
  border-radius: 0.5rem;
  display: none;
  justify-content: flex-end;
}

.xmas-dialog-header-card-wrapper > .xmas-dialog-header-card {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (min-width: 576px) {
  .xmas-dialog {
    width: 75vw;
    max-width: 700px;
    height: unset;
  }

  .xmas-dialog-header-card-wrapper {
    display: flex;
  }

  .xmas-dialog-header img {
    width: 8rem;
  }

  .xmas-dialog-header h1,
  .xmas-dialog-header a {
    font-size: 2.5rem;
  }
}

.xmas-dialog-content {
  font-size: 0.875rem;
  font-family: "Inter Tight", sans-serif;
  color: var(--gray-700);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: calc(100vh - 400px);
}

.embedded-content {
  font-size: 1rem;
  line-height: 1.4;
}

.xmas-dialog-content::before {
  content: "";
  display: block;
  border-radius: 0.75rem;
  background: repeating-linear-gradient(
    -45deg,
    #f1faee 0,
    #f1faee 0.5rem,
    #e63946 0.5rem,
    #e63946 1rem
  );
  background-size: 1.44rem 1.44rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
}

.button {
  background-color: #cc0000;
  color: #ffffff;
  border: 2px solid #cc0000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.1s;
  outline-color: lightcoral;
}

.button:hover {
  background-color: #ffffff;
  color: #cc0000;
}

div.xmas-dialog-actions {
  display: flex;
  justify-content: flex-end;
}