<div class="xmas-dialog">
  <header class="xmas-dialog-header">
    <img
      [src]="data.content?.author?.avatarUrl"
      alt="{{ data.content?.author }} thoughts about Angular in 2023!"
    />

    <div class="xmas-dialog-header-details">
      @if (data.content?.author && data.content?.author?.twitterHandle) {
        <a [href]="data.content?.author?.twitterHandle! | twitterUrl" tabindex="-1">{{data.content?.author?.name}}</a>
      } @else {
        <h1>{{ data.content?.author?.name }}</h1>
      }
    </div>

    <div class="xmas-dialog-header-card-wrapper">
      <div class="xmas-dialog-header-card">
        <ng-template [xmasCalendarCardFactory] [type]="data.day"></ng-template>
      </div>
    </div>
  </header>

  <div class="xmas-dialog-content">
    @if (data.content?.videoSrc) {
      <video width="640" height="360" controls>
        <source [src]="data.content?.videoSrc" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    } @else if (data.content?.descriptionHtml) {
      <div [innerHTML]="data.content?.descriptionHtml"></div>
    } @else {
      <p>No content provided</p>
    }
  </div>

  <div class="xmas-dialog-actions">
    <button type="button" (click)="closeDialog()" tabindex="0" class="button">Close</button>
  </div>
</div>

