<div class="drum-container">
  <div class="drum">
    <div class="side">
      <div class="side__bottom"></div>
      <div class="side__top"></div>
      <div class="pattern pattern-1"></div>
      <div class="pattern pattern-2"></div>
      <div class="pattern pattern-3"></div>
      <div class="pattern pattern-4"></div>
      <div class="pattern pattern-5"></div>
      <div class="pattern pattern-6"></div>
    </div>
    <div class="top"></div>
    <div class="drum-stick drum-stick--left"></div>
    <div class="drum-stick-shadow drum-stick-shadow--left"></div>
    <div class="drum-stick drum-stick--right"></div>
    <div class="drum-stick-shadow drum-stick-shadow--right"></div>
  </div>
</div>